/*
  Reset CSS
*/
html{
  height: 100%;
  font-size: 17px;
  font-family: "Open Sans", serif;
  color: #282B28;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  My CSS
*/

a{
  text-decoration: none;
  color: #FA7434;
  cursor: pointer;
}
a:hover{
  cursor: pointer;
}

  /*

        Home

  */
.header{
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.5rem;
}
.home-header{
  background: url(http://i.imgur.com/y8PRWgs.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
}
.nav:before,
.nav:after{
  content: "";
  display: table;
}
.nav:after{
  clear: both;
}
.nav{
  display: block;
  max-width: 100%;
  *zoom: 1;
  padding: 1em;
}
.button{
  padding: .75em;
  margin: 1em;
  border: 1px solid #FA7434;
  border-radius: 3px;
  color: #FA7434;
  font-weight: normal;
}
.button-nav{
  float: right;
  font-size: .6em;
}
.button:hover{
  background-color: #FA7434;
  color: #FFF;
}
.vertical{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #F4F7F5;
}
.header-name{
  font-size: 1.75em;
  margin: 0 0 .5em 0;
}
.header-info{
  font-size: .85em;
  margin: 0px;
  font-weight: 300;
}
.home-about:before,
.home-about:after{
  content: "";
  display: table;
}
.home-about:after{
  clear: both;
}
.home-main{
  font-size: 1.25rem;
  width: 100%;
}
.home-about{
  max-width: 67%;
  margin: 0 auto;
  padding: 2em;
}
.about-title{
  font-size: 1.75em;
}
.about-par{
  font-size: .8em;
  letter-spacing: .02em;
  line-height: 1.5;
  margin: 0 0 1.5em 0;
}
.home-contact:before,
.home-contact:after{
  content: "";
  display: table;
}
.home-contact:after{
  clear: both;
}
.home-contact{
  width: 67%;
  padding: 2em 0;
  margin: .5em auto 6em auto;
  border-top: 1px solid #D7DAE5;
  border-bottom: 1px solid #D7DAE5;
}
.contact-pic{
  width: 33%;
  float: left;
}
.contact-profile-pic{
  border-radius: 100%;
  width: 100%;
  margin: 0 auto;
}
.home-contact-info{
  width: 55%;
  float: right;
  margin: 0 auto;
}
.contact-title{
  font-size: 1.75em;
  text-align: center;
  margin: .25em 0 1.5em 0; 
}
.contact-links{
  text-align: center;
}
.button-contact{
  font-size: .65em;
  margin: 1em;
}
.footer{
  font-size: .75rem;
  border-top: 1px solid #D7DAE5;
  margin: 1em 0 0 0;
  color: #D7DAE5;
  padding: .25em .5em;
}
.copyright{
  float: left;
  margin: 0;
}
.poweredBy{
  float: right;
  margin: 0;
}
.button-nav-text{

}
.button-nav-pic{
  padding: 0;
  border: none;
  border-radius: 100%;
}
.nav-pic{
  border-radius: 100%;
  padding: 0;
}
  /*

        Blog-landing

  */

.blog-header{
  height: 33%;
}
.blog-main{
  height: 67%;
}
.month:before,
.month:after{
  content: "";
  display: table;
}
.month:after{
  clear: both;
}
.month{
  width: 50%;
  height: 8em;
  margin: auto;
  border-top: 1px solid #AfAfAf;
  border-bottom: 1px solid #AfAfAf;
  position: relative;
  font-size: 1.25rem;
}
.month-name{
  float:left;
  transform: rotate(-90deg);
  margin: 0;
  color: #D7DAE5;
  position: absolute;
  bottom: 35%;
  font-size: 1em;
}
.post{
  float: right;
  width:80%;
}
.post-date{
  float: left;
  width: 10%;
  font-size: .8em;
  margin-top: 1em;
}
.post-name{
  float: left;
  width: 80%;
  color:#FA7434;
  font-size: .8em;
  margin-top: 1em;
}

/*

      Blog-Post

*/
.blog-header-post{
  height: 0;
}
.button-nav-back{
  float: left;
}
.blog-post-main{
  margin-top: 7em;
  margin-bottom: 3em;

}
.main-post{
  width: 67%;
  font-size: 1rem;
  margin: auto;
}
.blog-post{
  margin: auto;
}
.post-title{
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1.5em;
}
.post-body{
  font-size: .9sem;
  line-height: 1.2em;
}
.post-img-center-div{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.post-img-center{
  width: 90%;
}
.body-post-link{

}
.code-block{
  width: 65%;
  margin: auto;
  background-color: #dfdfdf;
  border-radius: 5px;
}
.code-block p{
  margin: 0 1em;
  line-height: 1.05em;
  padding: 3px;
}
.list-disc{
  list-style-type: disc; 
}
.list-circle{
  list-style-type: circle; 
}
/*

      Projects

*/
.projects-head{
  color: #282B28;
}
.projects-main{
  width: 67%;
  margin: 2em auto;
}
.projects-entry-title:hover{
  text-decoration: underline;
}
.projects-footer{
  height: 200px;
}

@media only screen and (max-width: 900px){ 
  html{
    font-size: 15px;
  }
  .home-header{
    height: 60%;
  }
  .nav{
    padding: .65em;
  }
  .home-about{
    max-width: 80%;
    padding: 1.5em 0;
  }
  .home-contact{
    width: 80%;
  }
  .contact-pic{
    float: none;
    width: 50%;
    margin: 0 auto;
  }
  .home-contact-info{
    float: none;
    width: 100%;
    margin-top: 1.5em;
  }

  /*  Blog-landing  */
  .month{
    width: 80%;
  }
  .main-post{
    width: 80%;
  }
  .code-block{
    width: 75%;
  }

}
  


@media only screen and (max-width: 500px){
  html{
    font-size: 13px;
  }

  /* Home */
  .home-header{
    height: 40%;
    min-height: 240px;
  }
  .button-nav{
    border: none;
  }
  .nav{
    padding: .4em;
  }
  .button-nav{
    padding: .5em;
  }
  .home-about{
    max-width: 90%;
    padding: 0 0 1.25em 0;
  }
  .about-title{
    font-size: 1.5em;
    margin: .75em 0 .5em 0;
  }
  .home-contact{
    width: 90%;
  }
  .contact-pic{
    width: 66%;
  }
  .contact-links{
    width: 100%;
  }
  .button-contact{
    margin: .25em;
  }

  /* Blog-landing */
  .month{
    min-width: 90%;
  }

  .main-post{
    max-width: 90%;
  }
  .code-block{
    width: 90%;
  }
}








